body {
    background-color: black;
    
}

#container {
    background-image: url('../img/puerta.webp');
    background-size: cover;
    position:absolute;
    width: 99%;
    height: 98%;
}

h1 {
    color: white;
    margin-left: 39%;
    margin-top: 5%;
    font-family: halloween;
    font-size: 3em;
}

.cuadrado {
    width:15%;
    height:20%;
    padding-top:25%;
    position:relative;
    background:none;
    margin-left: 42%;
    cursor: pointer;
  }

@font-face {
    font-family: halloween;
    src: url('../fuente/Halloween\ Morning.ttf');
}